.admin_container {
    flex: 4;
}

.admin_sidebar {
    display: flex;
}

.admin_content {
    flex: 4;
    margin: 10px 10px 40px 10px ;
    box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border: 1px solid red;
}
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 16px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }

  .table_title {
      font-size: 22px;
      font-weight: 600;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }