@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

span.carousel-control-next-icon {
  background-color: #e77449;
  border-radius: 5px;
}

span.carousel-control-prev-icon {
  background-color: #e77449;
  border-radius: 5px;
}

div.carousel-indicators {
    background-color: #e77449;
    opacity: 0.8;
}

.homepage_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/photo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logout_btn:hover {
  opacity: 0.8;
}

.logout_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('./assets/photo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
